.fab {
    padding: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.far {
    padding: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}


.far:hover {
    opacity: 0.7;
}

.fab:hover {
    opacity: 0.7;
}

.row {text-align: center}